.rt-dashboard-mixin {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #f0f2f5;
}

.rt-dashboard-mixin__aside {
  display: flex;
  flex-direction: column;
  background: #001529;
}

.rt-dashboard-mixin__brand {
  color: #fff;
  height: 65px;
  background: #00284d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rt-dashboard-mixin__menu {
  flex: 1;
}

.rt-dashboard-mixin__collapse {
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
